.textarea {
  height: 200px;
  min-height: 200px;
  margin-top: 8px;
}
.input {
  background-color: #f6f8fa;
  line-height: 20px;
  padding: 5px 2px;
  box-shadow: inset 0 1px 0 rgba(208, 215, 220, 0);
}

.border {
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

.error {
  outline-color: red;
}
