* {
  box-sizing: border-box;
}

.nav {
  padding: 16px 32px;
  background-color: #24292f;
  display: flex;
  font-size: 14px;
  color: white;
  align-items: center;
}

.footer {
  margin-top: 40px;
  padding: 40px 16px 8px;
  border-top: 1px solid #d0d7de;
}
